# This is Git's per-user configuration file.
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[core]
	editor = nvim
	hooksPath = ~/.githooks
[alias]
	amend = commit --amend --no-edit
	commitDiff = log --left-right --graph --cherry-pick --oneline
	dev = !git switch develop || git switch main || git switch v10.x || git switch master
	main = !git switch main || git switch v10.x || git switch master
	last = show --name-status --first-parent --oneline
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	praise = blame
	st = status
	sw = switch
	ch = checkout
	wt = worktree
[branch "master"]
	mergeoptions = --no-ff
[branch "develop"]
	mergeoptions = --no-ff
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	autosquash = true
[rerere]
	enabled = true


# ARTICLE SUGGESTIONS From: https://blog.gitbutler.com/how-git-core-devs-configure-git
# clearly makes git better
# [column]
# 	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true

# why the hell not?
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[core]
	excludesfile = ~/.gitignore
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

# a matter of taste (uncomment if you dare)
[core]
	# fsmonitor = true
	# untrackedCache = true
[merge]
	# (just 'diff3' if git version < 2.3)
	conflictstyle = zdiff3
[pull]
	rebase = true
# END ARTICLE SUGGESTIONS


[include]
	# Local user overrides
	path = .user.gitconfig
